# Hi there 👋


![](https://storager2.saktidwicahyono.name/ferris.gif)

## Recent posts

{% for post in posts[:5] %}
- [{{ post.title }}](https://saktidwicahyono.name/blogs/{{ post.slug }}/)
{%- endfor %}
